[user]
	email = daniel@danielmoch.com
	name = Daniel Moch
	signingkey = 84BDDD43
[core]
	excludesfile = ~/.cvsignore
[commit]
	gpgSign = true
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[alias]
	ls = ls-tree --name-only -r
	pretty = log --graph --abbrev-commit --pretty=oneline --decorate --all
[init]
	templatedir = ~/.local/lib/gitdir
