[user]
	email = daniel@danielmoch.com
	name = Daniel Moch
	signingKey = /Users/djmoch/.ssh/id_ed25519.pub
[core]
	excludesfile = ~/.cvsignore
[push]
	default = simple
[alias]
	pretty = log --graph --abbrev-commit --pretty=oneline --decorate --all
	ctags = !`git rev-parse --git-dir`/hooks/ctags
	po = push -u origin HEAD
[init]
	templatedir = ~/lib/gitdir
	defaultBranch = main
[include]
	path = ~/etc/gitconfig.local
[pull]
	rebase = true
[sendemail]
	confirm = auto
[rebase]
	autoSquash = true
[gpg]
	format = ssh
[commit]
	gpgSign = true
