set vi-cmd-mode-string "[n]"
set vi-ins-mode-string "[i]"
set emacs-mode-string ""
set show-all-if-ambiguous on
set mark-symlinked-directories on
set bell-style visible
Control-Space: menu-complete
"\e[A": history-search-backward
set keymap vi-command
"k": history-search-backward
"L": menu-complete
set keymap emacs
