!
! ~/.Xresources
!

#define NOTO -monotype-noto sans-medium-r-normal--11-*-*-*-*-*-*-*
#define MESLO -bitstream-meslo lg m dz-medium-r-normal--11-*-*-*-*-*-*-*

! Global defaults
*background: #262626
*foreground: #BCBCBC
*font: -monotype-noto sans-medium-r-normal--11-*-*-*-*-*-*-*
*color0:     #1C1C1C
*color8:     #444444
*color1:     #AF5F5F
*color9:     #FF8700
*color2:     #5F875F
*color10:    #87AF87
*color3:     #87875F
*color11:    #FFFFAF
*color4:     #5F87AF
*color12:    #8FAFD7
*color5:     #5F5F87
*color13:    #8787AF
*color6:     #5F8787
*color14:    #5FAFAF
*color7:     #6C6C6C
*color15:    #FFFFFF

! Xterm
XTerm.termName: xterm-256color
XTerm*font: -bitstream-meslo lg m dz-medium-r-normal--11-*-*-*-*-*-*-*
XTerm*renderFont: true
XTerm*faceName: -bitstream-meslo lg m dz-medium-r-normal--11-*-*-*-*-*-*-*
XTerm*faceSize: 10.0
XTerm*visualBell: true
XTerm*highlightColorMode: true
XTerm*highlightReverse: false
XTerm*highlightColor: #8FAFD7
XTerm*bellIsUrgent: true

! Xdvi
XDvi.background: #BCBCBC
XDvi.foreground: #262626
XDvi.editor: gvim --servername XDvi --remote +%l %f
XDvi.wwwBrowser: my-open
XDvi.expertMode: 31
XDvi.shrinkFactor: 7
XDvi.altFont: -monotype-noto sans-medium-r-normal--11-*-*-*-*-*-*-*
