!
! ~/.Xresources
!

#define FIXED -misc-fixed-medium-r-normal--13-*-*-*-*-*-iso8859-*
#define UTF8 -misc-fixed-medium-r-normal--13-*-*-*-*-*-iso10646-*

! Global defaults
Xft.dpi: 96
*background: #262626
*foreground: #BCBCBC
*font: FIXED
*color0:     #1C1C1C
*color8:     #444444
*color1:     #AF5F5F
*color9:     #FF8700
*color2:     #5F875F
*color10:    #87AF87
*color3:     #87875F
*color11:    #FFFFAF
*color4:     #5F87AF
*color12:    #8FAFD7
*color5:     #5F5F87
*color13:    #8787AF
*color6:     #5F8787
*color14:    #5FAFAF
*color7:     #6C6C6C
*color15:    #FFFFFF

! XTerm
XTerm.termName: xterm-256color
XTerm*locale: true
XTerm*utf8Fonts.font: UTF8
XTerm*font: FIXED
XTerm*renderFont: true
XTerm*faceName: monospace
XTerm*faceSize: 10.0
XTerm*visualBell: true
XTerm*bellIsUrgent: true
XTerm*highlightColorMode: true
XTerm*highlightReverse: false
XTerm*highlightColor: #8FAFD7
XTerm*metaSendsEscape: true
XTerm*pointerMode: 2

! URvxt
URxvt.font: xft:monospace:size=10
URxvt.perl-ext: default,url-select
URxvt.letterSpace: -1
URxvt.lineSpace: -1
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: my-open
URxvt.url-select.underline: true
URxvt.scrollBar: false
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1
URxvt.highlightColor: #8FAFD7
URxvt.highlightTextColor: #262626
URxvt.meta8: false
URxvt.visualBell: true
URxvt.urgentOnBell: true
URxvt.termName: rxvt-unicode-256color
URxvt.pointerBlank: true
URxvt.pointerBlankDelay: 4

! XDvi
XDvi.background: #BCBCBC
XDvi.foreground: #262626
XDvi.editor: gvim --servername xdvi --remote +%l %f
XDvi.wwwBrowser: my-open
XDvi.expertMode: 31
XDvi.shrinkFactor: 7
XDvi.altFont: UTF8
