if(test "$TERM" = "dumb") {
	PAGER=nobs
}
if(~ $#PAGER 0 && which less >/dev/null >[2=1]) {
	PAGER=less
	LESS='-FMRqX#10'
	if(which lesspipe >/dev/null >[2=1]) {
		eval `{lesspipe}
	}
	if not {
		LESSOPEN='|$home/.lessfilter %s'
	}
}
if(~ $#PAGER 0) {
	PAGER=more
}
